[submodule "etinen-etymology"]
	path = etinen-etymology
	url = git@github.com:verenablaschke/etinen-etymology.git
[submodule "etinen-shared"]
	path = etinen-shared
	url = git@github.com:jdellert/etinen-shared.git
[submodule "psl-infrastructure"]
	path = psl-infrastructure
	url = git@github.com:jdellert/psl-infrastructure.git
[submodule "iwsa"]
	path = iwsa
	url = git@github.com:jdellert/iwsa.git
[submodule "psl-ragviewer"]
	path = psl-ragviewer
	url = git@github.com:verenablaschke/psl-ragviewer.git
